body{
    background: rgb(0, 0, 0);
}
h1{
    text-align: center;
    font-size: 60px;
    color: aliceblue;
}
p{
    text-align: center;
    font-size: 80px;
    color: aliceblue;
}
img{
    width: 70px;
    margin-left: 30px;
}
.cabecalho{
background-color: rgb(199, 46, 46);
}
.logocabecalho{
    width: 50px;
}
.lista_cabecalho{
display: flex;
margin-left: 50px;
}
.intem_lista_cabecalho{
    color: rgb(255, 255, 255);
    list-style: none;
text-transform: uppercase;
font-size: 10px;
padding: 5;
}
